.App{
    height: 100%;
    width: 100%;
   
}
.card{
    height: 80%;
    width: 40%;
    min-width: 480px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    box-sizing: border-box;
    padding: 40px;
    padding-top: 20px;
    max-height: 80%;
    overflow-y: scroll;
    background-color: red;
}


.title{
    width: 100%;
    font-size: large;
margin-bottom: 20px;
}
.box
{
    height: 50px;
    border: 1px solid rgb(70, 69, 69);
    border-radius:5px;
    padding: 12px;
    font-size: 18px;
    margin-top: 20px;
    background-color: "#8B139E";
    overflow: hidden;
    height: auto;
}
.Heading{
    text-align: center;
    /* margin-bottom: 20px; */
    /* font-size: 50px; */
}

.ant-tag-close-icon{
    color: "#8B139E";
}

/* media queries for resposive */

@media (max-width: 425px) {
    
    .card{
       width: 100%;
       background-color: red;

    }
   
  }