.app {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* min-width: 600px; */
  margin :0 auto;
}

.cardStyle {
  width: 40%;
  padding-left: 35px;
  padding-right: 35px;
  min-width: 450px;
  height: auto;
  margin-top: 30px;
  margin-bottom: 15px;
  padding-bottom: 50px;
}
/* inside conteent contatiner of the card */

.clipBox{
    height: 100%;
    overflow-y: auto;
    padding-bottom: 30px;
    padding-top: 30px;
  box-sizing:border-box;
  margin: auto;
/* margin-top: 150px; */
}
.clipBox::-webkit-scrollbar {
  width: 0;
 
}
/* .clipBox::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px red; 
  border-radius: 10px;
}

.clipBox::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px green; 
} */
.title {
  width: 100%;
  font-size: large;
  margin-bottom: 20px;
}
.box {
  height: 50px;
  border: 1px solid rgb(70, 69, 69);
  border-radius: 5px;
  padding: 12px;
  font-size: 18px;
  margin-top: 20px;
  background-color: "#8B139E";
  overflow: hidden;
  height: auto;
}
.Heading {
  text-align: center;
  /* margin-bottom: 20px; */
  /* font-size: 50px; */
}

.ant-tag-close-icon {
  color: "#8B139E";
}

/* media queries for resposive */

@media (max-width: 425px) {
  .cardStyle{
    width: 100%;
    height: 100%;
  }
  .clipBox {
    width: 100%;
    /* height: 100%; */
    /* background-color:blue; */
  }
}
